<div class="footer-container">
    <div class="icons">
        <a href="https://www.facebook.com/"><i class="fa fa-facebook-square"  href="https://www.facebook.com/"></i></a>
        <a href="https://www.linkedin.com/"><i class="	fa fa-linkedin-square"></i></a>
        <a href="https://www.whatsapp.com/"><i class="fa fa-whatsapp"></i></a>
        <a href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
     
        <a [routerLink]="'support'"><i class="fa fa-envelope" ></i></a>
    </div>
    
    <div class="rights">
        <p>RevUnix כל הזכויות שמורות לשחף סיסו - 2022' &#169;</p>
    </div>

</div>