
.container{
  input[type="search"] {
    padding: 6px;
    margin-bottom: 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    background-color: #037d9b;
    color: white;
    text-align: center;
  }
  
  th,
  td {
    padding: 6px 8px;
    width: 4%;
    white-space: nowrap;
  }
  
  tr:nth-child(even) {
    background-color: #ccc;
  }
  i {
    font-size: 1.5em;
    padding: 3px;
  }
  i:hover {
    color: rgb(22, 202, 22);
  }
  i:active {
    color: green;
  }
  
  input {
    border-radius: 8px;
    padding: 0 10px;
    box-shadow: 0 0 3px black;
  }
  td {
    max-width: 200px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
  }
}
@media (max-width: 769px) {
  .container {
  overflow-x: scroll;
  }
}










