<div class="container">
    <h1>אודותינו</h1>
    <h2>מה זה RevUnix?</h2>
    <p><strong>Revunix </strong>הינה מערכת חינמת לשיתוף ביקורות של סרטים, סדרות, תוכניות טלוויזיה ואפילו ספרים .
    </p>

    <h2>למה Revunix?</h2>
    <p> אנחנו מאמינים בשיתוף חופשי של החוויות שלכם.
        <br />בעזרת <strong>Revunix </strong> אפשר לשתף בקלות עם הקהילה את החוויה האישית
        שלכם עם סרט או ספר טוב ואפילו פרק מסוים מסדרה שאהבתם.
    </p>

    <h2>אז מה עושים ?</h2>
    <h4 routerLink="../register">נרשמים!</h4>
    <p>
        תוכלו כבר להתחיל ולעלות ביקורת משלכם. בתוך האזור האישי שלכם תכלו להזין את
        הפרטים הנחוצים וכמובן את הביקורת שלכם .תהיה לכם רשימת ביקורות משלכם. לאחר
        כתיבת הביקורת שלכם היא "תעלה לאוויר" וכל אחד שנכנס יכול לקרוא אותה, ולתת פידבק.
    </p>
    <h4>לא רוצים להרשם עדיין ?</h4>
    <p>
        אין בעייה. עדיין תוכלו לחקור את האתר ולקורא ביקורות. לא תכלו לכתוב ביקורת
        בעצמכם או להגיב.
    </p>
    <h2>נגישות וצור קשר</h2>
    <p>
        האתר מציע נגישות לנוחיותכם וכמובן אפשרות ליצור איתנו קשר, נשמח לעמוד
        לשירוכתם בהקדם.
    </p>
</div>

<div class="faq">
    <hr />
    <h1>שאלות ותשובות</h1>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    האם האתר חינמי?<br>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <span>
                        <strong>בוודאי,</strong>
                        האתר נגיש ופתוח לכולם .</span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    איך אוכל לכתוב ולערוך ביקורת ?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <span>
                        משתמשים רשומים בלבד יכולים לפרסם ביקורות ולערוך אותן.
                        <a routerLink="../register"> להרשמה</a>
                    </span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    האם אפשר להגיב לביקורות ?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <span>
                        <strong> כן. </strong> משתמשים רשומים יכולים להגיב או לאהוב ביקורת
                        והיא תשמר באזור האישי שלהם.
                    </span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    האם הנתונים שלי מאובטחים?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <span> <strong> כן. </strong> כל הפרטים מוצפנים ומאובטחים.</span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    שכחתי סיסמא, מה עושים?
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <span>
                        לוחצים על <a routerLink="../passrec">שכחתי סיסמא</a> , ותקבל מספר
                        רגעים סיסמה זמנית למייל שלכם . <br />
                        לאחר מכן תוכלו ליצור סיסמא חדשה. לכן יש להרשם עם מייל תקין .
                    </span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    מאיפה אוכל להשתמש באתר?
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <span> האתר שלנו מתואם למחשבים , סמארטפונים וטאבלטים. </span>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    האם אוכל למחוק את המשתמש שלי ?
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <span>
                        <strong>נהיה עצובים, אבל כן.</strong>
                        על מנת למחוק את המשתמש יש לצור קשר עימנו דרך פנייה חדשה, עם בקשה
                        למחיקה אם המייל המתאים והפרטים המתאימים . לאחר המחיקה תקבלו מייל
                        עדכון .הפעולות שביצעתם עדיין יתקיימו במערכת.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>