


.reviewList {
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
  table {
    font-size: 20px;
    white-space: nowrap;
    tr {
      text-align: center;
    }
    thead {
      background-color: darkcyan;
      th:nth-child(n) {
        width: calc((100vw) / 4);
      }
      th:first-child {
        width: 5vw;
      }
      th:last-child {
        width: 30vw;
      }
    }
    tbody {
      overflow-y: scroll;
      td {
        white-space: nowrap;  
        max-width: 200px; 
        border: 1px solid #000000;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px;
        i {
          cursor: pointer;
        }
        i:hover {
          color: rgb(22, 202, 22);
        }
        i:active {
          color: green;
        }
      }
    }

  }
}




@media (max-width: 550px) {
  .reviewList {
  overflow-x: scroll;
  }
}