<div class="reviewList">
    <table>
        <thead>
            <tr>
                <th (click)="ksks()">#</th>
                <th>
                    <i (click)="sort(false,1)" class="fa fa-caret-square-o-up"></i>
                    <i (click)="sort(true,1)" class="fa fa-caret-square-o-down"></i> ID
                </th>
                <th>
                    <i (click)="sort(false,2)" class="fa fa-caret-square-o-up"></i>
                    <i (click)="sort(true,2)" class="fa fa-caret-square-o-down"></i> מאת:
                </th>
                <th>
                    <i (click)="sort(false,3)" class="fa fa-caret-square-o-up"></i>
                    <i (click)="sort(true,3)" class="fa fa-caret-square-o-down"></i> שם:
                </th>
                <th>
                    <i (click)="sort(false,4)" class="fa fa-caret-square-o-up"></i>
                    <i (click)="sort(true,4)" class="fa fa-caret-square-o-down"></i> כותרת:
                </th>
                <th>
                    <i (click)="sort(false,5)" class="fa fa-caret-square-o-up"></i>
                    <i (click)="sort(true,5)" class="fa fa-caret-square-o-down"></i> תוכן:
                </th>
                <th>
                    <i (click)="sort(false,6)" class="fa fa-caret-square-o-up"></i>
                    <i (click)="sort(true,6)" class="fa fa-caret-square-o-down"></i> נוצר בתאריך:
                </th>
                <th>
                    <input class='form-control2  left' type="search" [(ngModel)]="searchVal" placeholder="חיפוש"
                        *ngIf="showAddOns" />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of comments | search: searchVal; let i = index">
                <td *ngIf="c.id">{{ i + 1 }}</td>
                <td >{{ c.id }}</td>
                
                <td>{{ c.userName }}</td>
                <td>{{ c.revName }}</td>
                <td *ngIf="!c.isEditState" (dblclick)="this.utility.alert(c.title)">{{ c.title }}</td>
                <td *ngIf="!c.isEditState" (dblclick)="this.utility.alert( c.body)">{{ c.body }}</td>
                <td *ngIf="c.isEditState"><input [(ngModel)]="c.title" type="text"  /></td>
                <td *ngIf="c.isEditState"><input [(ngModel)]="c.body" type="text" /></td>
                <td (dblclick)="this.utility.alert( c.creatTime)">{{ c.creatTime }}</td>
                <td>
                    <i *ngIf="c.isEditState" (click)="update(c)" class=" fa fa-check"></i>
                    <i *ngIf="c.isEditState" (click)="c.isEditState = false" class="fa fa-close"></i>
                    <i *ngIf="!c.isEditState" (click)="c.isEditState = true" class="fa fa-edit"></i>
                    <i (click)="delete(c.id)" class="fa fa-trash"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>