<div class="newRevBtn">
    <div class="w3-dropdown-click">
        <button class="w3-button" id="addBtn" (click)="show=true">הוסף ביקורת חדשה</button>
        <div class="w3-dropdown-content w3-bar-block w3-animate-zoom " [class.w3-show]="show"
            *ngIf="this.show">

            <div class="categories"(mouseleave)="show=false">
                <div class="icon">
                    <img src="../../assets/imgs/movieIcon.png" alt="" (click)="createNew('Movies')" (click)="show=false">סרט
                </div>
                <div class="icon">
                    <img src="../../assets/imgs/tvIcon.png" alt="" (click)="createNew('TV Show / Series')"
                        (click)="show=false">סדרה
                </div>
                <div class="icon">
                    <img src="../../assets/imgs/bookIcon.png"
                        (click)="createNew('Books')" (click)="show=false">ספר
                </div>
            </div>

        </div>
    </div>
</div>

<div class="reviewList">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>
                    <i (click)="sort(false,1)" class="fa fa-caret-square-o-up"></i>
                    <i (click)="sort(true,1)" class="fa fa-caret-square-o-down"></i> ID
                </th>
                <th>
                    <i (click)="sort(false,2)" class="fa fa-caret-square-o-up"></i>
                    <i (click)="sort(true,2)" class="fa fa-caret-square-o-down"></i> שם:
                </th>
                <th>
                    <i (click)="sort(false,3)" class="fa fa-caret-square-o-up"></i>
                    <i (click)="sort(true,3)" class="fa fa-caret-square-o-down"></i> כותרת:
                </th>
                <th>
                    <i (click)="sort(false,4)" class="fa fa-caret-square-o-up"></i>
                    <i (click)="sort(true,4)" class="fa fa-caret-square-o-down"></i> נושא:
                </th>
                <th>
                    <i (click)="sort(false,5)" class="fa fa-caret-square-o-up"></i>
                    <i (click)="sort(true,5)" class="fa fa-caret-square-o-down"></i> קטגוריה:
                </th>
                <th>
                    <i (click)="sort(false,6)" class="fa fa-caret-square-o-up"></i>
                    <i (click)="sort(true,6)" class="fa fa-caret-square-o-down"></i> דירוג:
                </th>
                <th> <input  type="search" [(ngModel)]="searchVal" placeholder="חיפוש"
                        *ngIf="showAddOns" /></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let r of reviews | search: searchVal; let i = index" (click)="displayInBox(r)">
                <td>{{ i + 1 }}</td>
                <td>{{ r.id }}</td>
                <td>{{ r.title }}</td>
                <td>{{ r.subTitle }}</td>
                <td>{{ r.topic }}</td>
                <td>{{ r.category }}</td>
                <td>{{ r.rate }}</td>
                <td>
                    <i (click)="delete(r)" class="fa fa-trash"></i>

                    <i (click)="edit(r)" class="fa fa-edit"></i>

                </td>

            </tr>
        </tbody>
    </table>
</div>